*{


    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: blue;
}

#main {

    background-color: rebeccapurple;
}

.card {

    width: 18rem;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


.card h5 {

    text-transform: capitalize;
    color: black;
}